body {
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
    }

.header {
    color: white;
    background-color: #154c79; 
    text-align: center;
    padding-bottom: 15px;
}

.header > h1  {
    font-family: cursive;
    margin: 10px
}

.header > a {
    color:white;  
    text-decoration: none;
    padding:10px;  
    }
  
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 300px;
    padding: 10px;
    border-width: 8px;
    border: ridge;
    background-image: linear-gradient(to right,paleturquoise, ivory) ;
}

#italy {
    border-radius: 10px 20px;
    background-image: radial-gradient(paleturquoise, ivory)
}
.card hr {
    height: 2px;
    background-color:#eab678; 
    
}
.reviews {
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    padding: 15px;
    border-width: 8px;
    border: solid;
    border-color: green ;
    rotate: -25deg;
    translate: 0px -100px;
}
.card > p> img  {
    width: 99%;
}
.reviews > h2{
    color: green;
}
.reviewer {
    font-style: italic;
}
.reviewer + p{
    display:  flex;
}